.Footer_twitterIcon, .Footer_pinterestIcon {
    display: none !important;
}
@media screen and (max-width: 600px) {   
    .Footer_contentDiv {
        padding: 0px !important;
        display: block !important;        
    }
    .Footer_socialTitleDiv {
        font-size: 18px !important;        
    }
    .Footer_emailDiv {
        margin: 15px auto 15px auto !important;
        font-size: 14px !important;
    }
    .Footer_phoneDiv {
        font-size: 13px !important;
    }
    .Footer_socialDiv{
        margin: 15px auto 0px auto !important;
    }
    .Footer_facebookIcon, .Footer_twitterIcon, .Footer_instagramIcon, .Footer_pinterestIcon, .Footer_likedinIcon {
        margin: 10px 0px 15px 0px !important;
    }
}/*
@media screen and (max-width: 500px) {    
    .InvitePage_profitTitle {
        font-size: 27px !important;
        text-align: center !important;
    }
    .InvitePage_profitText {
        font-size: 13px !important;
        text-align: justify !important;
    }
    .InvitePage_profitButton {
        font-size: 13px !important;
        margin: 20px auto 20px auto !important;
    }
    .InvitePage_appScreen {
        margin: 20px auto 15px auto !important;
    }    
}
@media screen and (max-width: 390px) {  
    .InvitePage_formDiv {
        display: block !important;        
    }    
    .InvitePage_nameDiv {
        width: auto !important;
    }
    .InvitePage_phoneDiv {
        width: auto !important;
    }
    .InvitePage_formTitle {
        margin-bottom: 40px !important;
        font-size: 18px !important;
    }
}*/
